.thumbnail {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &.\33 d-design-examples {
    background-image: url(~images/LiveTour/3d-design-examples.jpg);
  }
  &.sunland {
    background-image: url(~images/LiveTour/41.jpg);
  }
  &.amusement {
    background-image: url(~images/LiveTour/amusement.jpg);
  }
  &.bilmetro {
    background-image: url(~images/LiveTour/bilmetro.jpg);
  }
  &.casa {
    background-image: url(~images/LiveTour/casa.jpg);
  }
  &.cavalotti {
    background-image: url(~images/LiveTour/cavalotti.jpg);
  }
  &.cheznous {
    background-image: url(~images/LiveTour/cheznous.jpg);
  }
  &.citytech {
    background-image: url(~images/LiveTour/citytech.jpg);
  }
  &.concarneau {
    background-image: url(~images/LiveTour/concarneau.jpg);
  }
  &.fareastern {
    background-image: url(~images/LiveTour/fareastern.jpg);
  }
  &.gregoire-soudan {
    background-image: url(~images/LiveTour/gregoire-soudan.jpg);
  }
  &.hola {
    background-image: url(~images/LiveTour/hola.jpg);
  }
  &.ifind {
    background-image: url(~images/LiveTour/ifind.jpg);
  }
  &.istagingfurnitureshowroom {
    background-image: url(~images/LiveTour/istagingfurnitureshowroom.jpg);
  }
  &.kaohsiungSenior-high-tumbnail {
    background-image: url(~images/LiveTour/kaohsiungSenior-high-tumbnail.jpg);
  }
  &.kenzo {
    background-image: url(~images/LiveTour/kenzo.jpg);
  }
  &.longwood {
    background-image: url(~images/LiveTour/longwood.jpg);
  }
  &.mars {
    background-image: url(~images/LiveTour/mars.jpg);
  }
  &.missoni {
    background-image: url(~images/LiveTour/missoni.jpg);
  }
  &.moon {
    background-image: url(~images/LiveTour/moon.jpg);
  }
  &.paris {
    background-image: url(~images/LiveTour/paris.jpg);
  }
  &.qin-gen-yan-ji {
    background-image: url(~images/LiveTour/qin-gen-yan-ji.jpg);
  }
  &.rothlisberger {
    background-image: url(~images/LiveTour/rothlisberger.jpg);
  }
  &.rothlisberger2 {
    background-image: url(~images/LiveTour/rothlisberger2.jpg);
  }
  &.rpmautostudio {
    background-image: url(~images/LiveTour/rpmautostudio.jpg);
  }
  &.samuelsson {
    background-image: url(~images/LiveTour/samuelsson.jpg);
  }
  &.shangrila {
    background-image: url(~images/LiveTour/shangrila.jpg);
  }
  &.tile {
    background-image: url(~images/LiveTour/tile.jpg);
  }
  &.toyota {
    background-image: url(~images/LiveTour/toyota.jpg);
  }
  &.venda {
    background-image: url(~images/LiveTour/venda.jpg);
  }
  &.xBuaielx {
    background-image: url(~images/LiveTour/xBuaielx.jpg);
  }
  &.yocico {
    background-image: url(~images/LiveTour/yocico.jpg);
  }
  &.young {
    background-image: url(~images/LiveTour/young.jpg);
  }

}
